<head>
    <meta charset="utf-8">
    <style>
        
    </style>
</head>
<body>
    <div>
        <div class = "bg_signup">
            <h1 style = "margin: 30px">Sign Up</h1>
        </div>
        
    </div>
</body>